.host-container{
    padding: 1rem;
    display: flex;
    flex-flow: column;
    width: 100%;

    h5{
        margin: 0;
    }
}

:host ::ng-deep clr-dg-detail-body{
    .clr-dg-detail-body-wrapper{
        height: 100%;
    }
}

.namespace-config-yaml-editor{
    height: 100%;
}

.loading-container{
    display: flex;
    margin-left: 1.2rem;
    align-items: center;
}

