<div class="create-account-container">
    <h1 class="welcome-message">
        <span class="highlight">Welcome Aboard Multikube!</span> Create your account to get started.
    </h1>
    <div class="card login-card">
        <div class="card-header">
            <h3 class="title">Create account</h3>
        </div>
        <div class="card-block">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                @if(errorMessage){
                    <clr-alert class="danger-alert" [clrAlertType]="'danger'" [clrAlertSizeSmall]="true" [(clrAlertClosed)]="alertClosed">
                        <clr-alert-item>
                            <span class="alert-text">{{errorMessage}}</span>
                        </clr-alert-item>
                    </clr-alert>
                }
                <clr-input-container>
                    <label>Username</label>
                    <input clrInput type="name" formControlName="username" placeholder="Enter your username"/>
                    <clr-control-error *clrIfError="'minlength'">
                        Username should be more than 3 characters long.
                    </clr-control-error>
                    <clr-control-error *clrIfError="'required'">
                        Username field is required.
                    </clr-control-error>
                    <clr-control-helper>
                        With this name you will be seen by others.
                    </clr-control-helper>
                </clr-input-container>

                <clr-input-container>
                    <label>Email</label>
                    <input clrInput type="email" formControlName="email" placeholder="Enter your email"/>
                    <clr-control-error *clrIfError="'email'">
                        Please enter a valid email.
                    </clr-control-error>
                    <clr-control-error *clrIfError="'required'">
                        Email field is required.
                    </clr-control-error>
                </clr-input-container>

                <clr-password-container>
                    <label>Password</label>
                    <input clrPassword type="password" formControlName="password" placeholder="Enter your password"/>
                    <clr-control-error *clrIfError="'required'">
                        Password field is required.
                    </clr-control-error>
                    <clr-control-helper>
                        Password rules - Min 6 characters, at least 1 numeric and at least one alphabetic character.
                    </clr-control-helper>
                </clr-password-container>

                <clr-password-container>
                    <label>Repeat your password</label>
                    <input clrPassword type="password" formControlName="repeatPassword" placeholder="Enter your password"/>
                    <clr-control-error *clrIfError="'required'">
                        Repeating password field is required.
                    </clr-control-error>
                    <clr-control-error *clrIfError="'passwordDoesntMatch'">
                        Your password doesn't match.
                    </clr-control-error>
                </clr-password-container>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-form-action">Register</button>
            </form>
        </div>
    </div>
</div>
