@switch (status){
    @case (ResourceStatus.ACTIVE){
        <div class="status-row">
            <cds-icon shape="success-standard" status="success" size="sm"></cds-icon>
            <span class="status-text">Active</span>
        </div>
    }

    @case (ResourceStatus.ERROR){
        <div class="status-row">
            <cds-icon shape="error-standard" status="danger" size="sm"></cds-icon>
            <span class="status-text">Failed</span>
            <clr-signpost>
                <button class="btn btn-link btn-icon" aria-label="Icon Button Trigger" clrSignpostTrigger>
                    <cds-icon shape="info-standard" size="sm"></cds-icon>
                </button>
                <clr-signpost-content [clrPosition]="'right-middle'" *clrIfOpen>
                    {{k8sResource?.statusDetails}}
                </clr-signpost-content>
            </clr-signpost>
        </div>
    }

    @case (ResourceStatus.PROCESSING){
        <div class="status-row">
            <clr-spinner clrInline></clr-spinner>
            <span class="status-text">Pending</span>
        </div>
    }

    @case (ResourceStatus.DELETING){
        <div class="status-row">
            <clr-spinner clrInline></clr-spinner>
            <span class="status-text">Deleting</span>
        </div>
    }

    @default {
        <div class="status-row">
            <cds-icon shape="unknown-status" size="md"></cds-icon>
            <span class="status-text">Unknown</span>
        </div>
    }

}
