:host{
    display: flex;
    flex-flow: column;
    margin: 0 0.6rem 0 0.6rem;
}

.welcome-message{
    margin-bottom: 4rem;
    animation: fadeIn 0.5s ease-in; /* Add fade-in animation */

}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start fully transparent */
        transform: translateY(-20px); /* Optional: slight upward movement */
    }
    to {
        opacity: 1; /* End fully visible */
        transform: translateY(0); /* Set to original position */
    }
}
