<h3>Profile settings</h3>

<div class="card-block">
    @if (errorMessage) {
        <clr-alert class="danger-alert" [clrAlertType]="'danger'" [clrAlertSizeSmall]="true"
                   [(clrAlertClosed)]="alertClosed">
            <clr-alert-item>
                <span class="alert-text">{{ errorMessage }}</span>
            </clr-alert-item>
        </clr-alert>
    }
    <clr-toggle-container>
        <clr-toggle-wrapper>
            <input type="checkbox" clrToggle value="option1" name="options" [(ngModel)]="darkMode"
                   (change)="toggleDarkMode($event)"/>
            <label>Dark mode</label>
        </clr-toggle-wrapper>
    </clr-toggle-container>


    <div class="clr-row user-profile-row">
        <label class="clr-col-2">Username</label>
        <span>{{user.username}}</span>
    </div>

    <div class="clr-row user-profile-row">
        <label class="clr-col-2">Email</label>
        <span>{{user.email}}</span>
    </div>


    <div class="profile-actions">
        <button type="submit" (click)="logout()" class="btn btn-primary btn-primary-outline logout-profile-btn">Logout
        </button>
    </div>

</div>
