.loading-container{
    display: flex;
    margin-left: 1.2rem;
    align-items: center;
}

.register-cluster-btn{
    margin: 0.6rem 0 0 1rem;
}

.cluster-cards-container{
    padding:0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .cluster-card{
        display: flex;
        flex-flow: column;
        .card-block{
            flex-grow: 1;

            .card-text{
                margin-top: 0.6rem;
            }

            .cluster-card-details{
                display: flex;
                flex-flow: column;
                .card-details-pair{
                    display: flex;
                    flex-flow: row;

                    .card-detail-label{
                        font-weight: bold;
                        text-transform: capitalize;
                        width: 5rem;
                    }

                    .card-detail-value{

                    }
                }
            }
        }
        width: 20rem;
    }
}

:host ::ng-deep clr-side-panel{
    height: 100%;
    .modal-body{
        height: 100%;
        .side-panel-body{
            height: 100%;
        }
    }
}

.kube-config-editor-title{
    margin: 0 0 1.2rem 0;
}

.kube-config-editor{
    height: 25rem;
}
