@if (errorMessage) {
    <clr-alert class="danger-alert" [clrAlertType]="'danger'" [(clrAlertClosed)]="alertClosed">
        <clr-alert-item>
            <span class="alert-text">{{ errorMessage }}</span>
        </clr-alert-item>
    </clr-alert>
}

<button class="btn btn-primary register-cluster-btn" (click)="openRegisterClusterModal = true">
    <cds-icon shape="plus"></cds-icon>Register cluster
</button>

@if (loading) {
    <div class="loading-container">
        <clr-spinner clrInline>Loading...</clr-spinner>
        <h5>Loading...</h5>
    </div>

} @else {

    <div class="cluster-cards-container">
        @for (cluster of allClusters; track cluster.id) {
            <div class="card cluster-card">
                <div class="card-header">{{ cluster.name }}</div>
                <div class="card-block">
                    <div class="cluster-card-details">
                        <div class="card-details-pair">
                            <span class="card-detail-label">Status</span>
                            <span class="card-detail-value">{{cluster.status}}</span>
                        </div>
                        <div class="card-details-pair">
                            <span class="card-detail-label">Owner</span>
                            <span class="card-detail-value">{{cluster.providerUsername}}</span>
                        </div>
                        <div class="card-details-pair">
                            <span class="card-detail-label">Created</span>
                            <span class="card-detail-value">{{cluster.createdAt | date : "dd.MM, hh:mm" }}</span>
                        </div>
                        <div class="card-details-pair">
                            <span class="card-detail-label">Updated</span>
                            <span class="card-detail-value">{{cluster.updatedAt | date : "dd.MM, hh:mm" }}</span>
                        </div>
                    </div>
                    <div class="card-text">
                        {{ cluster.description }}
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-link">Details</button>
                </div>
            </div>
        }
    </div>

    <clr-side-panel [(clrSidePanelOpen)]="openRegisterClusterModal" [clrSidePanelSize]="'xl'">
        <div class="side-panel-title">Register Kubernetes Cluster</div>
        <div class="side-panel-body">
            <ngx-monaco-editor [options]="editorOptions">
            </ngx-monaco-editor>
        </div>
        <div class="side-panel-footer">
            <button type="button" class="btn btn-outline" (click)="openRegisterClusterModal = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="registerCluster()">Register</button>
        </div>
    </clr-side-panel>
}
