<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a [routerLink]="''" [routerLinkActive]="['active']">
                <cds-icon class="branding-icon" shape="block" [solid]="true"></cds-icon>
                <span class="title">Multikube</span>
            </a>
        </div>
        <div class="header-nav">
            <a class="nav-link nav-text" [routerLinkActive]="['active']" [routerLink]="CHAT_ROUTE_PATHS.KUBE_CLUSTERS">Kubernetes Clusters</a>
            <a class="nav-link nav-text" [routerLinkActive]="['active']" [routerLink]="CHAT_ROUTE_PATHS.TENANT_PROFILES">Tenants</a>
            <a href="http://localhost:8165/swagger-ui/index.html" target="_blank" class="nav-link nav-text">API Explorer</a>
        </div>

        <div class="settings">
            <span class="tenant-name-title">{{currentUser?.tenant?.name}}</span>
            <a [routerLink]="CHAT_ROUTE_PATHS.PROFILE_SETTINGS" [routerLinkActive]="['active']"
               class="nav-link nav-icon">
                <cds-icon shape="user"></cds-icon>
                <span>{{ currentUser?.username }}</span>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <div class="application-dynamic-content">
                <div class="application-home-outlet">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
