<div class="login-wrapper">
    <form class="login">
        <div class="login-header">
            <cds-icon class="branding-icon" shape="block" solid="true" size="'xxl'"></cds-icon>
            <div class="title">Multikube</div>
        </div>
        <div class="login-body">
            <section class="title welcome-message">
                <div class="welcome">Welcome Back</div>
                <div class="hint">Manage your Kubernetes clusters with ease</div>
            </section>

            <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                @if (errorMessage) {
                    <clr-alert class="danger-alert" [clrAlertType]="'danger'" [clrAlertSizeSmall]="true"
                               [(clrAlertClosed)]="alertClosed">
                        <clr-alert-item>
                            <span class="alert-text">{{ errorMessage }}</span>
                        </clr-alert-item>
                    </clr-alert>
                }
                <clr-input-container>
                    <label>Organization</label>
                    <input clrInput type="email" formControlName="tenant" placeholder="Enter organization name"/>
                    <clr-control-error *clrIfError="'required'">
                        Organization name field is required.
                    </clr-control-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Email</label>
                    <input clrInput type="email" formControlName="email" placeholder="Enter your email"/>
                    <clr-control-error *clrIfError="'email'">
                        Please enter a valid email.
                    </clr-control-error>
                    <clr-control-error *clrIfError="'required'">
                        Email field is required.
                    </clr-control-error>
                </clr-input-container>

                <clr-password-container>
                    <label>Password</label>
                    <input clrPassword type="password" formControlName="password"
                           placeholder="Enter your password"/>
                    <clr-control-error *clrIfError="'required'">
                        Password field is required.
                    </clr-control-error>
                    <clr-control-helper>
                        Password rules - Min 6 characters, at least 1 numeric and at least one alphabetic character.
                    </clr-control-helper>
                </clr-password-container>

                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary login-btn">Login
                </button>
            </form>


        </div>
        <div class="login-footer">
            <span class="copyright">
                Copyright © 2025 Multikube. All Rights Reserved
            </span>
            <a href="javascript://">Terms</a>
            <a href="javascript://">Privacy</a>
        </div>
    </form>
</div>
