.loading-container{
    display: flex;
    margin-left: 1.2rem;
    align-items: center;
}

.namespace-details-container{
    display: flex;
    flex-direction: column;
    h4{
        margin: 1rem 0 0 1rem;
    }
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.namespace-header{
    margin: 0;
}
