@if(errorMessage){
    <clr-alert class="danger-alert" [clrAlertType]="'danger'" [(clrAlertClosed)]="alertClosed">
        <clr-alert-item>
            <span class="alert-text">{{errorMessage}}</span>
        </clr-alert-item>
    </clr-alert>
}

<button class="btn btn-primary create-tenant-btn">
    <cds-icon shape="plus"></cds-icon>Create tenant
</button>

<clr-datagrid (clrDgRefresh)="refreshByGrid($event)" [clrDgLoading]="loading">
    <clr-dg-column [clrDgField]="'name'">Organization Name</clr-dg-column>
    <clr-dg-column >State</clr-dg-column>
    <clr-dg-column>Created</clr-dg-column>
    <clr-dg-column>Last Updated</clr-dg-column>
    <clr-dg-placeholder>No tenants found.</clr-dg-placeholder>
    @for(tenant of tenantsPage.content; track tenant.id){
        <clr-dg-row>
            <clr-dg-action-overflow>
                @if(tenant.isActive){
                    <button class="action-item">Deactivate</button>
                } @else {
                    <button class="action-item">Activate</button>
                }
            </clr-dg-action-overflow>
            <clr-dg-cell>{{ tenant.name }}</clr-dg-cell>
            <clr-dg-cell>{{ tenant.isActive ? "Active" : "Not Active" }}</clr-dg-cell>
            <clr-dg-cell>{{ tenant.createdAt | date : "dd.MM, hh:mm" }}</clr-dg-cell>
            <clr-dg-cell>{{ tenant.updatedAt | date : "dd.MM, hh:mm" }}</clr-dg-cell>
        </clr-dg-row>
    }

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="tenantsPage.totalElements">
            <clr-dg-page-size [clrPageSizeOptions]="[5, 10, 15]">Tenants per page</clr-dg-page-size>
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
            {{ pagination.totalItems }} tenants
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
