<h3>Users</h3>

@if(errorMessage){
    <clr-alert class="danger-alert" [clrAlertType]="'danger'" [(clrAlertClosed)]="alertClosed">
        <clr-alert-item>
            <span class="alert-text">{{errorMessage}}</span>
        </clr-alert-item>
    </clr-alert>
}

<clr-datagrid (clrDgRefresh)="refreshByGrid($event)" [clrDgLoading]="loading">
    <clr-dg-column [clrDgField]="'username'">Username</clr-dg-column>
    <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
    <clr-dg-column>Friend Status</clr-dg-column>
    <clr-dg-column>Active Since</clr-dg-column>
    <clr-dg-placeholder>No users found.</clr-dg-placeholder>
    @for(user of usersPage.content; track user.id){
        <clr-dg-row>
            <clr-dg-action-overflow>
                @if(user.isFriendOfYours){
                    <button class="action-item" (click)="unfriend(user)">Unfriend</button>
                }@else{
                    <button class="action-item" (click)="addFriend(user)">Add Friend</button>
                }


            </clr-dg-action-overflow>
            <clr-dg-cell>{{ user.username }}</clr-dg-cell>
            <clr-dg-cell>{{ user.email }}</clr-dg-cell>
            <clr-dg-cell>{{ user.isFriendOfYours ? "Friend" : "Not Friend" }}</clr-dg-cell>
            <clr-dg-cell>{{ user.createdAt | date }}</clr-dg-cell>
        </clr-dg-row>
    }

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="usersPage.totalElements">
            <clr-dg-page-size [clrPageSizeOptions]="[5, 10, 15]">Users per page</clr-dg-page-size>
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
            {{ pagination.totalItems }} users
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
