.main-container{
    .content-container{
        .content-area{
            padding: 0;
            overflow: hidden;
        }
    }
}

.branding-icon{
    color: var(--clr-color-neutral-100) !important;
}

.application-dynamic-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tenant-name-title{
    margin-right: 0.8rem;
    align-content: center;
    font-weight: 500;
    font-size: 0.8rem;
}

.application-home-outlet{
    flex-grow: 1;
}

.user-nav-button{
    cursor: pointer;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

label{
    font-weight: bold;
}

.loading-container{
    display: flex;
    margin-left: 1.2rem;
    align-items: center;
}
